<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.backend.mapper.ChatMessageMapper">
    <!-- 查询用户未读消息数量 -->
    <select id="countUnreadMessages" resultType="int">
        SELECT COUNT(*)
        FROM chat_message cm
                 JOIN chat_conversation_member ccm ON cm.conversation_id = ccm.conversation_id
        WHERE ccm.user_id = #{userId} AND cm.is_read = 0
    </select>
</mapper>