<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.backend.mapper.ProductMapper">
    <select id="selectByCategoryId" resultType="com.mall.backend.model.entity.Product">
        SELECT * FROM product WHERE category_id = #{categoryId}
    </select>

    <select id="selectRecommendedProducts" resultType="com.mall.backend.model.entity.Product">
        SELECT * FROM product WHERE is_recommended = 1 LIMIT 10
    </select>
</mapper>