<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.backend.mapper.ProductCommentMapper">
    <select id="selectByProductId" resultType="com.mall.backend.model.entity.ProductComment">
        SELECT pc.*, u.nickname
        FROM product_comment pc
                 LEFT JOIN user u ON pc.user_id = u.id
        WHERE pc.product_id = #{productId}
        ORDER BY pc.create_time DESC
    </select>

    <select id="calculateAverageRating" resultType="java.lang.Double">
        SELECT AVG(rating)
        FROM product_comment
        WHERE product_id = #{productId}
    </select>
</mapper>